<a href="https://colab.research.google.com/github/cyberdreams8/water-quality-analysis-and-prediction/blob/main/PDS_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##IMPORTING LIBRARIES

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##READING DATASET

In [ ]:
url12 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202012.csv'
D12 = pd.read_csv(url12)
url13 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202013.csv'
D13 = pd.read_csv(url13)
url14 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202014.csv'
D14 = pd.read_csv(url14)
url15 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202015.csv'
D15 = pd.read_csv(url15)
url16 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202016.csv'
D16 = pd.read_csv(url16)
url17 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202017.csv'
D17 = pd.read_csv(url17)
url18 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202018.csv'
D18 = pd.read_csv(url18)
url19 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202019.csv'
D19 = pd.read_csv(url19)
url21 = 'https://raw.githubusercontent.com/cyberdreams8/water-quality-analysis-and-prediction/refs/heads/main/Ground%20Water%202021.csv'
D21 = pd.read_csv(url21)

##CONCAT DATA

In [5]:
# Concatenate all DataFrames
frames = [D12, D13, D14, D15, D16, D17, D18, D19, D21]
Dataset = pd.concat(frames)

# Display the combined DataFrame
Dataset

,Station Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year
0,15.0,"WELL AT KUYYURA, A.P.",ANDHRA PRADESH,23.0,28.0,6.82,7.85,195.0,226.0,2012
1,16.0,WELL AT TADAVAI A.P.,ANDHRA PRADESH,27.0,28.0,7.21,7.72,663.0,1121.0,2012
2,26.0,"WELL AT VIJAYWADA, A.P.",ANDHRA PRADESH,26.0,32.0,7.19,7.39,1601.0,1661.0,2012
3,27.0,"WELL AT PEDDAVOORA, A.P.",ANDHRA PRADESH,26.0,27.0,7.82,8.80,1420.0,1668.0,2012
4,1513.0,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,25.0,30.0,6.80,7.11,1454.0,1575.0,2012
...,...,...,...,...,...,...,...,...,...,...
983,2533.0,SURI TOWN NEAR BUS STAND,WEST BENGAL,27.0,30.0,7.20,7.90,358.0,651.0,2021
984,1773.0,"TANGRA, CALCUTTA , WEST\nBENGAL",WEST BENGAL,28.0,31.0,7.30,7.40,1435.0,1730.0,2021
985,1774.0,"TOPSIA CALCUTTA, WEST\nBENGAL",WEST BENGAL,29.0,31.0,7.30,7.30,1705.0,1921.0,2021
986,2546.0,ULUBERIA COLLEGE AT HOWRAH,WEST BENGAL,26.0,30.0,7.20,7.60,909.0,1090.0,2021
987,2535.0,VISVA BHARATI,WEST BENGAL,30.0,31.0,7.90,8.20,370.0,437.0,2021

##SANITY CHECK OF DATA

In [9]:
#shape
Dataset.shape

(6316, 10)

In [10]:
#info
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6316 entries, 0 to 987
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Station Code                 6240 non-null   float64
 1   Station Name                 6267 non-null   object
 2   STATE                        6241 non-null   object
 3   Temperature Min              5818 non-null   float64
 4   Temperature Max              5818 non-null   float64
 5   pH Min                       6195 non-null   float64
 6   pH Max                       6195 non-null   float64
 7   Conductivity (µmhos/cm) Min  6124 non-null   float64
 8   Conductivity (µmhos/cm) Max  6124 non-null   float64
 9   Year                         6316 non-null   int64
dtypes: float64(7), int64(1), object(2)
memory usage: 542.8+ KB

In [11]:
#finding missing values
Dataset.isnull().sum()

Station Code                    76
Station Name                    49
STATE                           75
Temperature Min                498
Temperature Max                498
pH Min                         121
pH Max                         121
Conductivity (µmhos/cm) Min    192
Conductivity (µmhos/cm) Max    192
Year                             0
dtype: int64

In [12]:
#percentage of missing value
Dataset.isnull().sum()/Dataset.shape[0]*100

Station Code                   1.203293
Station Name                   0.775807
STATE                          1.187460
Temperature Min                7.884737
Temperature Max                7.884737
pH Min                         1.915769
pH Max                         1.915769
Conductivity (µmhos/cm) Min    3.039899
Conductivity (µmhos/cm) Max    3.039899
Year                           0.000000
dtype: float64

In [13]:
#finding duplicates
Dataset.duplicated().sum()

47

In [19]:
# Identifying garbage values
for i in Dataset.select_dtypes(include="object").columns:
    print(Dataset[i].value_counts())
    print("***"*10)

Station Name
BEGUSARAI                                                                                    10
PATNA                                                                                        10
FULBARI BARRAGE                                                                               9
NANGAL, PUNJAB                                                                                9
VISVA BHARATI                                                                                 9
                                                                                             ..
HAND PUMP WATER NEAR D.M OFFICE, MADHEPURA                                                    1
HAND PUMP WATER AT COLLECTRIATE OFFICE, MADHUBANI                                             1
TAP WATER INSIDE THE CAMPUS OF TOURIST CAFETERIA,\nNALANDA                                    1
HAND PUMP WATER AT CIVIL COURT, NALANDA                                                       1
GROUND WATER AT BHAGWAN\nINDUSTRIAL AREA- 2,\nSIKANDERPUR, LAKHESWARI,\nROORKEE, HARIDWAR     1
Name: count, Length: 3522, dtype: int64
******************************
STATE
RAJASTHAN               585
WEST BENGAL             461
GUJARAT                 459
BIHAR                   350
HIMACHAL PRADESH        334
ASSAM                   326
ODISHA                  276
MAHARASHTRA             266
MADHYA PRADESH          247
KERALA                  235
ANDHRA PRADESH          229
TRIPURA                 219
UTTAR PRADESH           213
PUNJAB                  188
LAKSHADWEEP             143
Rajasthan               140
PONDICHERRY             135
TELANGANA               115
Bihar                   110
DELHI                   109
MIZORAM                 108
UTTARAKHAND              87
Maharashtra              73
Kerala                   66
Uttar Pradesh            64
Assam                    62
GOA                      57
MEGHALAYA                56
CHHATTISGARH             52
JAMMU & KASHMIR          51
DAMAN & DIU              49
DADRA & NAGAR HAVELI     47
CHANDIGARH               41
TAMIL NADU               41
NAGALAND                 40
Madhya Pradesh           29
Gujarat                  25
Lakshadweep              23
PUDUCHERRY               22
MANIPUR                  20
Goa                      18
Chhattisgarh             16
Odisha                   15
KARNATAKA                 8
Dadra & Nagar Haveli      7
Meghalaya                 7
Jammu & Kashmir           4
Mizoram                   4
JHARKHAND                 3
HARYANA                   3
Uttarakhand               1
Daman & Diu               1
UTTRAKHAND                1
Name: count, dtype: int64
******************************

In [18]:
Dataset

,Station Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year
0,15.0,"WELL AT KUYYURA, A.P.",ANDHRA PRADESH,23.0,28.0,6.82,7.85,195.0,226.0,2012
1,16.0,WELL AT TADAVAI A.P.,ANDHRA PRADESH,27.0,28.0,7.21,7.72,663.0,1121.0,2012
2,26.0,"WELL AT VIJAYWADA, A.P.",ANDHRA PRADESH,26.0,32.0,7.19,7.39,1601.0,1661.0,2012
3,27.0,"WELL AT PEDDAVOORA, A.P.",ANDHRA PRADESH,26.0,27.0,7.82,8.80,1420.0,1668.0,2012
4,1513.0,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,25.0,30.0,6.80,7.11,1454.0,1575.0,2012
...,...,...,...,...,...,...,...,...,...,...
983,2533.0,SURI TOWN NEAR BUS STAND,WEST BENGAL,27.0,30.0,7.20,7.90,358.0,651.0,2021
984,1773.0,"TANGRA, CALCUTTA , WEST\nBENGAL",WEST BENGAL,28.0,31.0,7.30,7.40,1435.0,1730.0,2021
985,1774.0,"TOPSIA CALCUTTA, WEST\nBENGAL",WEST BENGAL,29.0,31.0,7.30,7.30,1705.0,1921.0,2021
986,2546.0,ULUBERIA COLLEGE AT HOWRAH,WEST BENGAL,26.0,30.0,7.20,7.60,909.0,1090.0,2021
987,2535.0,VISVA BHARATI,WEST BENGAL,30.0,31.0,7.90,8.20,370.0,437.0,2021

##EXPLORATORY DATA ANALYSIS(EDA)